<div class="mytimetable-show-wrapper">
  <div class="title">
    <h1><%= @festival.name %></h1>
  </div>
  
  <%= form_with model: @mytimetable do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= time_select("article", "sunrise") %>
      </div>
      <div class="col-md-4">
        <%= f.label :Artist %>
        <%= f.collection_select :id, Artist.all, :id, :name, include_blank: "選択して下さい" %>
      </div>
      <div class="col-md-4">
          <%= f.label :stage %>
          <%= f.collection_select :id, Stage.all, :id, :name, include_blank: "選択して下さい" %>
      </div>
  </div>
  <% end %>
</div>
</div>