<div class="mytimetable-show-wrapper">
  <div class="title">
    <h1><%= @festival.name %></h1>
  </div>
  <p>period_id日目</p>
  
<div class="table">
  <div class="table__head">
    <% @festival.stages.each do |stage| %>
      <div class="table__heading"><%= stage.name %></div>
    <% end %>  
  </div>

  <div class="table__body">
    <% @festival.stages.each do |stage| %>
      <div class="table__columns">
        <% stage.artists.each do |artist| %>
          <div class="table__item">
            <div class="table__item-time">
              <% if !artist.starttime.nil? %>
                <%= artist.starttime.strftime( "%H:%M" ) %><br>|<br><%= artist.endtime.strftime( "%H:%M" ) %>
              <% else %>
                <%= artist.starttime %>
              <% end %>
            </div>
            <%= artist.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%# a = 40 %>
<%# b = 20 %>
<%# c = a - b %>
<%# i = c / 10 %>

<table border="3" class="big">
  <tr>
    <th>時間</th><th>ステージ</th>
  </tr>
  <tr>
    <td>0</td>
    <td rowspan="<%= @time %>">6つのセルを結合</td>
  </tr>
  <tr>
    <td>10</td>
  </tr>
  <tr>
    <td>20</td>
  </tr>
  <tr>
    <td>30</td>
  </tr>
  <tr>
    <td>40</td>
  </tr>
  <tr>
    <td>50</td>
  </tr>
  <tr>
    <td>60</td>
  </tr>
</table>

<%= @time %>