<div class="festival-index-wrapper">
    <div class="festival-title">
        <p class="text-brack text-festival"><%= @festival.name %></p>
    </div>
    <br>

    <div class="festival-image">
        <img src="/assets/<%= @festival.name %>.jpg" alt="">
    </div>
    <br>
    <div class="festival-toha">
        <p><%= @festival.name %>とは？</p>
    </div>
    <br>
    <div class="festival-overview">
        <span class="box-title">概要</span>
        <p>データベースに追加...</p>
    </div>
    
    <div class="festival-place">
        <span class="box-place">場所</span>
        <p>データベースに追加...</p>
    </div>
    
    <div class="festival-feature">
        <span class="box-feature">特徴</span>
        <p>データベースに追加...</p>
    </div>

    <div class="festival-comment-title">
        <p>コメント</p>
    </div>
    
    <div class="festival-comment-list" id="comment-keep">
        <% @festival.comments.each do |comment| %>
            <p><%= comment.user.name %> ： <%=  comment.comment %></p>
        <% end %>
    </div>
    
    <br>
    
    <div class="festivalname-and-username">
        <p>フェス名：「<%= @festival.name %>」</p>
        <% if current_user %>
            <p>ユーザー名：「<%= current_user.name %>」</p>
        <% else %>
            <p>ユーザー名：「ゲストユーザー」</p>
        <% end %>
    </div>
    
    <% if current_user %>
    <%= form_for @comment do |f| %>
    <div class="festival-comment">
        <%= f.hidden_field :festival_id, value: @festival.id %>
        <%= f.text_field :comment %>
        <%= f.submit "送信" %>
    </div>
    <% end %>
    <% else %>
        <br>
        <p>※コメントするにはログインしてください。</p>
    <% end %>
    
    <script>

    </script>

</div>

       

    

